extends layout

block content
    .row.mt-4.justify-content-center
        h1 My Account
    .row.mt-4
        .col-3
            .row.justify-content-between
                h5 Shipping Address
                a(href="") Edit
            span Dylan Dunn
            br
            span 2 Celia Dr
            br
            span Rochester, NY 14623
            .row.justify-content-between.mt-2
                h5 Billing Address
                a(href="") Edit
            i Dylan Dunn
            br
            i 2 Celia Dr
            br
            i Rochester, NY 14623