extends layout

block content
    .row
        .card.col-3
            .card-title
            .card-body
                h1 Hello World
        .card.col-9
            .card-title
            .card-body
                h1 Hello World
