extends layout

block content
    .row
        .jumbotron.col-12.mb-2
            h1.display-4 Shop Quality Sarms
            p.lead 
            hr.my-4
            p.btn.btn-primary.btn-lg(href="#") View Products

        .h1 Featured Products
    .row.mt-0
        .card-deck
            .card
                img.card-img-top(src="https://via.placeholder.com/300x150")
                .card-body
                    .card-title 
                        h5 MK-2866 (Ostarine)
                    .card-text
                        p $39.99
                        .d-flex.justify-content-between
                            a.btn.btn-success(href="#") Add To Cart
                            a.btn.btn-secondary(href="#") View
            .card
                img.card-img-top(src="https://via.placeholder.com/300x150")
                .card-body
                    .card-title 
                        h5 LGD-4033 (Ligandrol)
                    .card-text.content-justify-between
                        p $39.99
                        .d-flex.justify-content-between
                            a.btn.btn-success(href="#") Add To Cart
                            a.btn.btn-secondary(href="#") View
            .card
                img.card-img-top(src="https://via.placeholder.com/300x150")
                .card-body
                    .card-title 
                        h5 GW-501516 (Cardarine)
                    .card-text.content-justify-between
                        p $39.99
                        .d-flex.justify-content-between
                            a.btn.btn-success(href="#") Add To Cart
                            a.btn.btn-secondary(href="#") View
            



