extends layout

block content
    .row
        .jumbotron.col-12.mb-2
            h1.display-4 Shop Quality Sarms
            p.lead 
            hr.my-4
            a.btn.btn-primary.btn-lg(href="/shop") View Products
            



