extends layout

block content
    .row
        .jumbotron.col-12
            h1.display-4 Shop Quality Sarms
            p.lead 
            hr.my-4
            p.btn.btn-primary.btn-lg(href="#") View Products

        .h1 Featured Products
    .row
        .card-group
            .card
                .card-body
                    .card-title Hello World
                    .card-text Hello World


