doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/stylesheets/style.css" )
  body
    .container
      nav.navbar.navbar-light.bg-light.navbar-expand-sm
        a.navbar-brand(href="/")
          img(height="64px" src="/images/logo.png")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#nav1")
          span.navbar-toggler-icon
        div.collapse.navbar-collapse.justify-content-between(id="nav1")
          ul.navbar-nav
            li.nav-item.m-1.text-center
              a.nav-link(href="/faq") Shop
            li.nav-item.m-1.text-center
              a.nav-link(href="/faq") FAQ
            li.nav-item.m-1.text-center
              a.nav-link(href="/faq") Contact
          ul.navbar-nav
            li.nav-item.m-1.text-center
              a.btn.btn-secondary.mr-2(href="/reset") My Account
              a.btn.btn-secondary(href="/") 
                i.fas.fa-shopping-cart
            
      .container.mt-3
        block content
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
      script(src="https://kit.fontawesome.com/5507e7b576.js")
      script(src="https://js.squareupsandbox.com/v2/paymentform")
      script(src="/scripts/payment.js")
      .container.text-center.fixed-bottom
          span &copy 2020 AeroPept All Rights Reserved