doctype html
html
  head
    title AeroPept
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
  body
    .container
      nav.navbar.navbar-light.bg-light.navbar-expand-sm
        a.navbar-brand(href="/")
          img(height="64px" src="/images/logo.png")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#nav1")
          span.navbar-toggler-icon
        div.collapse.navbar-collapse.justify-content-between(id="nav1")
          ul.navbar-nav
            li.nav-item.m-1.text-center
              a.nav-link(href="/shop") Shop
            li.nav-item.m-1.text-center
              a.nav-link(href="/faq") FAQ
            li.nav-item.m-1.text-center
              a.nav-link(href="/contact") Contact
            if loggedIn
              li.nav-item.m-1.text-center
                a.nav-link(href="/orders") Orders
          ul.navbar-nav 
            if session.user
              if session.user.username == 'admin'
                a.btn.btn-danger.mr-2(href="/admin/dashboard") Admin
            if session.user
              .dropdown.btn-group
                button.btn.btn-secondary.dropdown-toggle.mr-2(data-toggle="dropdown" type="button") My Account
                .dropdown-menu
                  a.dropdown-item(href="/account") My Account
                  form(action="/account/logout" method="POST")
                    button.dropdown-item(type="submit") Logout
            else
              a.btn.btn-primary.mr-2(href="/account/login") Login
            a.btn.btn-secondary(href="/cart")
              i.fas.fa-shopping-cart.mr-2
              span.badge.badge-info
                if session.cart
                  span=session.cart.length
                else
                  span 0

            
      .container.mt-3
        block content
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
      script(src="https://kit.fontawesome.com/5507e7b576.js")
      script(src="https://js.squareupsandbox.com/v2/paymentform")
      script(src="/scripts/payment.js")
      .container.text-center.fixed-bottom
          span &copy 2020 AeroPept All Rights Reserved