extends layout

block content
    .row.mt-0
        .col
            img(src="https://via.placeholder.com/500x500")
        .col
            h1=product.title
            h5=product.description
            h2=product.price
            form(action='/cart/add/' + product._id method="POST")
                button.btn.btn-success(type="submit") Add To Cart