extends layout

block content
    .row.mt-0
        .card-deck
            .card
                img.card-img-top(src="https://via.placeholder.com/300x150")
                .card-body
                    .card-title 
                        h5 MK-2866 (Ostarine)
                    .card-text
                        p $39.99
                        .d-flex.justify-content-between
                            a.btn.btn-success(href="#") Add To Cart
                            a.btn.btn-secondary(href="#") View
