extends layout

block content
    .row.mt-0
        .card-deck
            each product in products
                .card
                    img.card-img-top(src="https://via.placeholder.com/300x150")
                    .card-body
                        .card-title 
                            h5=product.title
                        .card-text
                            p=product.price
                            .d-flex.justify-content-between
                                a.btn.btn-success(href='/cart/add/' + product._id) Add To Cart
                                a.btn.btn-secondary(href='/product/' + product._id) View
